# 1.2.3 Python’s Built-In Classes

- bool : immutable 
- int : immutable
- float : immutable
- list :
- tuple : immutable
- str : immutable
- set :
- frozenset : immutable
- dict :


LATEX Math Express 참고 [LATEX Sample](http://nbviewer.ipython.org/github/adrn/ipython/blob/2.x/examples/Notebook/Typesetting%20Math%20Using%20MathJax.ipynb)

## The bool Class

logical(Boolean) values

can have only two instances => True, False

In [8]:
# default value
bool()

False

In [3]:
# non boolean type
bool('foo')

True

In [4]:
# zero evaluated as 'False'
bool(0)

False

In [5]:
# non zero numbers evaluated as 'True'
bool(1001)

True

In [7]:
# not empty
# sequences and other container types evaluated as 'True'
a = [1]
bool(a)

True

In [8]:
# empty
# sequences and other container types evaluated as 'False'
a = []
bool(a)

False

## The int Class

integer type

example 1) 0, 136, -23...

example 2) 0b1011(binary), 0o62(Octal), 0x7f(Hex)

In [9]:
# default value
int()

0

In [10]:
# truncate float type value
int(3.14)

3

In [11]:
int(3.99)

3

In [12]:
int(-3.9)

-3

In [13]:
# expression
int('137')

137

In [14]:
# invalid string
int('hello')

ValueError: invalid literal for int() with base 10: 'hello'

In [15]:
# 16진수 정수형 
int('7f', 16)

127

## The float class

C++ 이나 Java 의 dobule 형과 유사(float 아님)

In [16]:
float(98.6)

98.6

In [17]:
# 2.0 과 동일한 표현식
float(2.)

2.0

In [18]:
# scientific notation
float(6.022e23)

6.022e+23

\begin{align}
6.022e23 & = 6.022 \times 10^{23}
\end{align}

## Sequence Types

list, tuple, str Classes

### The list class

요소의 참조값을 저장.( stores a sequence of reference to its elements )

In [38]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

<img src="1.4.png">

In [36]:
# 문자열로 이루어진 요소 저장
a = ['red', 'green', 'blue']
# 빈 요소 저장
a = []
# 빈 요소로 구성된 List 생성
a = list()
# iterable type
a = list('hello')
print a

['h', 'e', 'l', 'l', 'o']

### The tuple class

In [5]:
a = tuple()
a = (17)
a = ()

### The str class

In [7]:
a = "hello"
a = "Don't worry"
a = 'Don\t worry'
# multiline strings
print """Welcome to the GPA calculator.
Please enter all your letter grades, one per line.
Enter a blank line to designate the end"""

### The set and frozenset class

In [12]:
a = {'red', 'green', 'blue'}
print set('hello')

set(['h', 'e', 'l', 'o'])

### The dict class

In [14]:
d = {'ga': 'Irish', 'de': 'German'}
pairs = [('ga', 'Irish'), ('de', 'German')]
print dict(pairs)

{'de': 'German', 'ga': 'Irish'}